* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	// no scrollbar
	::-webkit-scrollbar {
		display: none;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

textarea {
	resize: none;
	font-family: inherit;
}

.page_wrapper {
	display: flex;
	flex-direction: column;
	width: calc(100vw - 70px);
	position: relative;
	// not scrollable
	overflow: hidden;
}

.modal_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}
